Repository chroma-core/chroma, pull requests merged in 2025-01, with the labels that each got.

#3419 [DOC] Fix typos
  DEVELOP.md
  clients/python/README.md
  docs/docs.trychroma.com/markdoc/content/docs/guides/multimodal-guide.md
Labels: ready-to-merge

#2946 [ENH]: Switching to official Ollama python client
  chromadb/test/ef/test_ollama_ef.py
  chromadb/utils/embedding_functions/ollama_embedding_function.py
  docs/docs.trychroma.com/markdoc/content/integrations/embedding-models/ollama.md
Labels: EF

#3622 [TST]: run tests against Rust frontend
  .github/workflows/_python-tests.yml
  .github/workflows/pr.yml
  bin/cluster-test.sh
  chromadb/api/async_fastapi.py
  chromadb/api/fastapi.py
  chromadb/test/conftest.py
  rust/frontend/src/frontend.rs
  rust/frontend/src/server.rs
  rust/types/src/api_types.rs
Labels: rust-frontend

#3642 [ENH] Misc cleanup for Rust FE
  chromadb/test/property/strategies.py
  chromadb/test/property/test_collections.py
  rust/frontend/src/frontend.rs
  rust/frontend/src/server.rs
  rust/frontend/src/types/errors.rs
  rust/frontend/src/utils.rs
  rust/sysdb/src/sysdb.rs
  rust/types/src/api_types.rs
  rust/worker/src/compactor/scheduler.rs
  rust/worker/src/execution/operators/register.rs
  rust/worker/src/execution/orchestration/compact.rs
Labels: rust-frontend

#3643 [TST]: Rust frontend fixes for test_sanity
  .github/actions/tilt/action.yaml
  rust/frontend/src/server.rs
  rust/types/src/api_types.rs
  rust/types/src/execution/plan.rs
Labels: rust-frontend

#3646 [TST]: fix Rust frontend for test_logservice.py
  .github/workflows/_python-tests.yml
  chromadb/proto/.gitignore
  rust/frontend/src/frontend.rs
Labels: rust-frontend
