Repository chroma-core/chroma, pull requests merged in 2025-02, with the labels that each got.

#3653 [TST]: fixes for test_add.py against Rust frontend
  .github/workflows/_python-tests.yml
  chromadb/test/property/invariants.py
  chromadb/test/property/test_collections.py
  chromadb/test/property/test_embeddings.py
  chromadb/test/property/test_persist.py
  rust/frontend/src/frontend.rs
  rust/frontend/src/server.rs
  rust/frontend/src/types/errors.rs
  rust/types/src/api_types.rs
Labels: rust-frontend

#3727 [PERF] Override cache size limit from config
  chromadb/api/rust.py
  rust/python_bindings/rust_bindings.pyi
  rust/python_bindings/src/bindings.rs
Labels: rust-frontend

#3297 [BUG]: Delete collection resource leak (single-node Chroma)
  chromadb/api/segment.py
  chromadb/segment/__init__.py
  chromadb/segment/impl/manager/local.py
  chromadb/test/property/invariants.py
  chromadb/test/property/test_collections.py
Labels: bug, Local Chroma

#3796 [DOC] update embedding function doc referencing texts -> input
  docs/docs.trychroma.com/markdoc/content/integrations/embedding-models/cohere.md
  docs/docs.trychroma.com/markdoc/content/integrations/embedding-models/voyageai.md
Labels: documentation
